
  <div id="main_cnt_wrapper">
    <div id="yjContentsBody">
      <div class="yjContainer">
        <span class="yjGuid"><a id="yjContentsStart" name="yjContentsStart"></a><img alt="ここから本文です" height="1" src="http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" width="1"></span>
        <div id="yjMain">
          <article class="section">
            <div class="container">
              <header class="header header--section">
                <h3 class="header header--section">
                  <i class="icon-movie color-gray-light"></i>投稿
                </h3>
              </header>
              <%= form_tag("/reviews",:method => :post) do |f| %>
                <div>
                 
                     
                              <h3 class="text-middle text-break color-sub">
                                <%= @lesson.title %>
                              </h3>
                            
                    
                  
                </div>
                <div style="margin: 8px 0">
                  <label style="margin-right: 8px">ニックネーム</label><input name="nickname" placeholder="ニックネーム" type="text" value="">
                  <input name="lesson_id" placeholder="" type="hidden" value="<%=@lesson.id%>">
                </div>
                <div style="margin: 8px 0">
                  <label style="margin-right: 8px">評価</label><input class="search__query" name="rate" placeholder="評価" style="text-align: right" type="number" max="10" min="1" value="5"> (10段階評価)
                </div>
                <div style="margin: 8px 0">
                  <textarea name="review" placeholder="レビューを書いてね！" style="width: 100%; height: 300px"></textarea>
                </div>
                <% if @validate%>
                <p>レビュー書いてね！</p>
                <%end%>

                <div class="row">
                  <div class="col10 push1">
                    <button type="submit" class="btn btn--block">投稿する<i class="icon-arrow-right"></i></button>
                  </div>
                </div>
                <% end %>
              </form>
            </div>
          </article>
        </div>
        <div id="yjSub">