<div class="container" style="
    text-align: center;
    vertical-align: top;
  ">
  <div class="top-middle left0 hidden-xs">
    <h1>授業選択をスムーズに</h1>
    
    <div class="row left0">
      <div class="col-md-4 left0">
        <h3>評価する</h3>
        <img src="https://true-syllabus.jp//img/top1.jpg" class="top-middle-image"/>
        <p>受講している授業を様々な視点から評価できます。</p>
        <p>貴重なご意見お待ちしております。</p>
      </div>
      <div class="col-md-4 left0">
        <h3>検索する</h3>
        <img src="https://true-syllabus.jp//img/top2.jpg" class="top-middle-image"/>
        <p>希望の時間帯や教授、単位の取りやすさ等々</p>
        <p>自分に最適な授業を探せます。</p>
      </div>
      <div class="col-md-4 left0">
        <h3>管理する</h3>
        <img src="https://true-syllabus.jp//img/top3.jpg" class="top-middle-image"/>
        <p>会員登録することで自分だけの時間割を設定し、</p>
        <p>スケジュールを管理できます。</p>
      </div>
    </div>
  </div>
</div>